<html>
{% include 'head.html' %}

<body>
{% include 'navbar.html' %}

<div class="container my-5">
    <h2 class="text-center">Tourist Place Reviews Sentiment Analysis</h2>
    <h2 class="text-center mb-5">using Machine Learning Techniques</h2>
    <div class="row">
        <div class="col-lg-8">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Project Description</h5>
                    <p class="card-text">
                        Millions of user review and rate tourist places as Social media is growing trend now a days.
                        Sentiment analysis can be performed over these reviews to determine popular place.
                        Based on sentiment analysis result, tourist can easily decide the destination to be visited.
                    </p>
                    <p>
                        The Dataset will be collected from various tourism review websites using data scraping
                        techniques.
                        A Comparative study will be performed on the various sentiment analysis techniques to
                        determine
                        the best technique for the data.
                    </p>

                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Project Details</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Project Name:</strong> Tourist Place Reviews Sentiment Analysis using Machine
                            Learning Techniques
                        </li>
                        <li class="list-group-item">
                            <strong>Date:</strong> July 2022 to June 2023
                        </li>
                        <li class="list-group-item">
                            <strong>Project Guide:</strong> Ms. T. Adarana, Assoc Professor, CSE Dept
                        </li>
                        <!-- <li class="list-group-item">-->
                        <!-- <strong>Status:</strong> [Status]-->
                        <!-- </li>-->
                    </ul>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Project Links</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <a href="https://github.com/anoopjhaa/touristReviewSentimentAnalysis" class="d-flex
    align-items-center">
                                <i class="bi bi-github me-2"></i>
                                &nbsp;GitHub Repository
                            </a>
                        </li>
                        <li class="list-group-item">
                            <a href="#" class="d-flex align-items-center">
                                <i class="bi bi-document-text me-2"></i>
                                Documentation
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="col-lg-4">
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Project Team</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">
                            <strong>Member 1:</strong> Gattu Suhasini (19H51A0569)
                        </li>
                        <li class="list-group-item">
                            <strong>Member 2:</strong> Anoop Kumar Jha (19H51A05C4)
                        </li>
                        <li class="list-group-item">
                            <strong>Member 3:</strong> Ankit Tripathy (19H51A05M4)
                        </li>
                    </ul>
                </div>
            </div>
            <div class="card mb-4">
                <div class="card-body">
                    <h5 class="card-title">Technologies Used</h5>
                    <ul class="list-group list-group-flush">
                        <li class="list-group-item">Python</li>
                        <li class="list-group-item">Scikit-Learn</li>
                        <li class="list-group-item">NLTK</li>
                        <li class="list-group-item">Pandas</li>
                        <li class="list-group-item">Flask</li>
                        <li class="list-group-item">Bootstrap</li>
                        <li class="list-group-item">MongoDB</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</div>

{% include 'scripts.html' %}
</body>

</html>