<html>
{% include 'head.html' %}

<body style="overflow-y: clip;">
{% include 'navbar.html' %}
<div class="container-fluid">
    <div class="row ml-3">
        <div class="col-md-3" style="height: 90vh; overflow-y: scroll;">
            {% for i in range(places|length) %}
            <div class="card mt-3" style="width: 18rem;" data-toggle="collapse" data-target="#place-details-{{ i }}">
                <img src="{{places[i].imageLink }}" class="card-img-top" alt="...">
                <div class="card-body">
                    <h5 class="card-title">{{ places[i].name }}</h5>
                    <p class="card-text">{{ places[i].shortDescription }}</p>
                </div>
            </div>
            {% endfor %}
        </div>

        <div class="col-md-9" style="height: 90vh; overflow-y: scroll;">
            {% for i in range(places|length) %}
            <div class="card-details container mt-5" id="place-details-{{i}}" style="display: none;">
                <h1 class="mb-4">{{ places[i].name }}</h1>
                <div class="row">
                    <div class="col-md-6">
                        <img src="{{ places[i].imageLink }}" class="img-fluid mb-4 shadow-lg">
                    </div>
                    <div class="col-md-6">
                        <p class="lead mb-4">{{ places[i].longDescription }}</p>
                        <ul class="list-group mb-4">
                            <li class="list-group-item"><strong>Location:</strong> {{ places[i].location }}</li>
                            <li class="list-group-item"><strong>Activities:</strong> {{ places[i].activities }}</li>
                            <li class="list-group-item"><strong>Overall Sentiment: </strong> {{ places[i].sentiment }}</li>
                        </ul>
                    </div>
                </div>


                <h5></h5>
                <table class="table table-bordered table-hover my-5 shadow">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Top Positive Reviews</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for j in range(places[i].positiveReviews|length) %}
                    <tr>
                        <td>{{ places[i].positiveReviews[j] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>

                <table class="table table-bordered table-hover my-5 shadow">
                    <thead>
                    <tr>
                        <th scope="col" class="text-center">Top Negative Reviews</th>
                    </tr>
                    </thead>
                    <tbody>
                    {% for j in range(places[i].negativeReviews|length) %}
                    <tr>
                        <td>{{ places[i].negativeReviews[j] }}</td>
                    </tr>
                    {% endfor %}
                    </tbody>
                </table>
            </div>
            {% endfor %}
        </div>
    </div>
</div>
{% include 'scripts.html' %}
<script src="{{ url_for('static', filename='cardSelection.js') }}"></script>
</body>

</html>